.dashboard {
    display: flex;
    flex-direction: column;

    .gainersLosers {
        display: flex;
        flex-direction: column;
        margin-top: 138px;
    }
    
    .news {   
        margin-bottom:30px;        
    }

    .general {        
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        gap: 20px;
        justify-content: space-between;

        .sector,
        .commodities,
        .currencies {
            width: 100%;
        }
    }

    @media screen and (min-width: 1194px) {
        .gainersLosers {
            display: flex;
            flex-direction: row;
            flex-grow: 0;
            flex-shrink: 1;
            margin-top: 138px;
            gap: 20px;
        }

        .news {
            margin-bottom: 40px;
        }

        .general {        
            display: flex;
            flex-direction: row;

            .currencies{
                width:33%;
            }
            .sector {
                width: 33%;
            }
            .commodities {
                width: 33%;
            }
        }
    }
}