.navbar {
    background-color: #f7f6f6;
    padding: 1rem;

    .logo {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: auto;
        padding-right: 30px;
    }

    .navbarItems {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    img {
        height: 55px;
        width: 190px;
    }

    .navLinks {
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .active {
        color: #a400e0;
    }

    .link {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px;
        border-radius: 9999px;
        user-select: none;

        &:hover {
            color: #a400e0;
            background-color: #dedede;
        }
    }
}

@media (max-width: 744px) {
    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

@media (min-width: 745px) {
    .navLinks {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}