.navbar {
    background-color: #eae9e9;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        margin-right: auto;
    }

    .navLinks {
        display: flex;
        gap: 1.5rem;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 4px 0;
            transition: 0.4s;
        }
    }

    .navbarItems {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        gap: 100px;
    }

    img {
        height: 55px;
        width: 190px;        
    }

    a {
        color: #000;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px;
        border-radius: 9999px;

        &:hover {
            color: #a400e0;
            background-color: #dedede;
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}
