.navbar {
    background-color: rgb(255, 241, 229);
    padding: 1rem;
    justify-content: center;
    display: flex;
    color: #111111;

    .logo {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: auto;
        padding-right: 30px;
    }

    .navbarItems {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    img {
        height: 55px;
        width: 190px;
    }

    .navLinks {
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .active {
        color: #a400e0 !important;
    }

    .link {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        padding: 10px;
        border-radius: 9999px;
        user-select: none;
        color: #1b1b1b;

        &:hover {
            color: #a400e0;
            background-color: rgb(242, 223, 206);
        }
    }
}

@media (max-width: 744px) {
    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

@media (min-width: 745px) {
    .navLinks {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}