.indexCarousel {
    width: 100vw;
    position: absolute;
    left: 0;

    .card {
        padding: 5px 10px;
        border-radius: 15px;
        border: 2px solid #4e4e4e;    
        background-color:  rgb(242, 223, 206) !important;    
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .chart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: -20px;
        padding-top: 10px;
    }

    .headerRow {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        font-weight: 500;
    }

    .headerMetrics {
        margin-top: 3px;;
    }

    .header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 190px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.03rem;
    }

    .loser {
        color: #bd1919;
    }
    
    .gainer {
        color: #2ba901;
    }

    h5 {
        margin: 0;
    }
}
