.conveyorContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.conveyorList {
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    animation: conveyor 40s linear infinite;
    animation-play-state: running;
}

.conveyorList.paused {
    animation-play-state: paused;
}

.conveyorList.running {
    animation-play-state: running;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

li {
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #dad8d8;
}

@keyframes conveyor {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}